h1 {
  font-family: arial;
   width: 200px;
  font-size: 30px;
}

div {
  font-family: arial;
  width: 200px;
  font-size: 20px;
}

canvas{
  width: 300px;
  height: 200px;
  border: 1px solid #000000
}